body {
    margin: 0;
    /* feel free to change/customize this gradient and font */
    background: linear-gradient(135deg, #ffafbd 0%, #ffc3a0 100%);
    /* feel free to change/customize font */
    font-family: 'Arial', sans-serif;
}

.flex-container {
    /* Make this into a flexbox using display: flex */
    /* Use flexbox properties to stack your tiles vertically and center them */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-tile {
    /* Make this into a flexbox using display: flex */
    /* Use flexbox properties to stack elements in your tiles vertically and center them */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* setting the width for each tile */
    width: 35vw;

    /* spacing tiles */
    margin: 5%;
    padding: 20px;

    /* background color for tile, feel free to change */
    background-color: white;

    transition: background-color 0.3s ease;

}


.flex-tile:hover {
    background-color: #e0ecff;
    cursor: pointer;
}

img{
    width: 35vw;
    align-items: center;
    animation: opacity 5s infinite;
}

h1{
    text-align: center;
    font-size: 20px;
    padding-bottom: 5%;
    padding-top: 5%;
}

ul{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    list-style: circle;
    list-style-position: inside;

}

li{
    text-align: center;
    padding: 3%;

}

pre{
    font-family: Arial, Helvetica, sans-serif;
}

.button-container {
    display: flex;
    justify-content: center;
    
}

.btn {  
    display: inline-block;  
    padding: 15px 30px;  
    margin: 5% auto;
    width: 100px;
    border-radius: 10px;
    background: #fff1e6;  
    color: rgb(0, 0, 0); 
    cursor: pointer;

    transition: all 0.2s ease;
}

.btn:hover {
    background-color: #ffdab7;
    transform: scale(1.05);
}


a:active{
    transform: scale(0.85);
}


@keyframes opacity {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 60%;
    }
    100%{
        opacity: 100%;
    }
}